body{
	font:15px Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Estilos Globales */
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding:0;
}
 .boton1{
	background: #e8491d;
	height: 38px;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color:#fff;
} 

/* Encabezado */
header{
	
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #3af3e4;
}
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #marca{
	float: left;
}
header #marca h1{
	float: left;
}
header nav{
	float: right;
	margin-top: 10px;
}
header .resaltado, header .actual a{
	color: #3af3e4;
	font-weight: bold;

}
header a:hover{
	color:#3af3e4;
	font-size: bold;
}
/*cabecera con imagen*/

#cabecera{
	min-height: 400px;
	background: url('../img/fondo2.jpg') ;
	text-align: center;
	color:#fff;
} 
#cabecera2{
	min-height: 50px;
	background: url('../img/fondo2.jpg') ;
	text-align: left;
	color:#fff;
} 
#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
#cabecera p{
	font-size: 20px;
}

/*Formulario para boletin*/
#boletin{
	padding: 15px;
	color: #fff;
	background: #19191a;
}
#boletin h1{
	float: left;
}
#boletin form{
	float: right;
	margin-top: 15px;
}
#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}
/*cajas*/
#cajas{
	margin-top: 20px;
}
#cajas .caja{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
#cajas .caja img{
	width: 90px;
}

/* Lateral */
aside#lateral{
	float: right;
	width: 30%;
	margin-top: 10px;
}
.oscuro{
	padding: 15px;
	background-color: #191a1b;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
/* Main.col */
article#main-col{
	float:left;
	width: 65%;
}
/* servicios */
ul#servicios li{
	list-style: none;
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}


/* Footer o pie de pagina */
footer{
	padding: 20px;
	margin-top: 0px;
	color: #fff;
	text-align: center;
	border-top: 5px solid #3af3e4;
}

/* Formulario de contacto */
input, textarea{
	width: 100%;
	height: 35px;
	border: 1px solid gray;
	margin-bottom: 5px;
}
textarea{
	height: 120px;
}
input[type="submit"]{
	background-color: #e8491d;
	color:white;
}
table {     
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;    
	margin: 10px;     
	width: 90%; 
	text-align: left;    
	border-collapse: collapse; 
}
th {     
	font-size: 15px;     
	font-weight: normal;     
	padding: 8px;   
	text-align: center;  
	background: #222829;
  border-bottom: 4px solid #3af3e4;    
  border-top: 1px solid #fff; 
  color: #fff; 
  border-radius: 3px;
}
td {    
	text-align: center;
	padding: 8px;     
	background: #A0DAD9;     
	border-bottom: 1px solid #fff;
	color: #669;    
	order-top: 1px solid transparent; 
	font-size: 13px;

}

tr:hover td { 
	background: #222829; 
	color: #339; 
	border-radius: 5px;
	box-shadow: 10px 20px 20px  rgba(61, 230, 227, 1);
/*		box-shadow: inset 1px 1px 2px  rgba(61, 230, 227, 1);*/

	text-shadow: 0.5px 0.5px rgba(87, 232, 230, 1);
}
/* Media Queries */
@media(max-width: 768px){
	header #marca,
	header nav,
	header nav li,
	#boletin h1,
	#boletin form,
	#cajas .caja,
	article#main-col,
	aside#lateral{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	#boletin h1{
		margin-top: 40px;

	}
	#boletin button{
		display: block;
		width: 100%;

	}
	#boletin form input[type="email"]{
		width: 100%;
		margin-bottom: 6px;
	}
	input, textarea{
		width: 98%;
	}
}